# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# OS
.DS_Store

# IDE / editors
.vscode/
.idea/

